.inputPasswordBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;

  & > span {
    color: var(--color-primary);
    font-family: var(--font-body);
    font-size: 0.875rem;
  }

  & > button {
    position: absolute;
    right: 4px;
    top: 13px;
    color: var(--color-primary);
  }
}
