.modalController {
  min-width: 100dvw;
  min-height: 100dvh;
  position: fixed;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(15px);
  padding: 5px;
  background-color: rgba(228, 66, 66, 0.393);
}

.modalContainer {
  background-color: var(--color-grey-2);
  max-width: 700px;
  width: 100%;
  padding: 48px 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;

  & > h3 > span {
    color: rgb(228, 66, 66);
  }

  & > button {
    position: absolute;
    color: var(--color-white);
    top: 16px;
    right: 16px;
  }

  & > div {
    & > button {
      margin-right: 16px;
    }
  }
}

.deleteButton {
  background-color: rgb(228, 66, 66);
}
